@{
    ViewData["Title"] = "Index";
    List<Tariff> tariffs = Model;
}

<div class="content content-wrapper">
    <div class="container-fluid">
        <div class="text-right pt-3 pb-3">
            <a asp-controller="Tariff" asp-action="Create" class="btn btn-danger btn-icon-text"><i class="ti-upload btn-icon-prepend"></i>Create</a>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Tariffs</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th>Session</th>
                            <th>Time</th>
                            <th>Day of week</th>
                            <th>Cinema</th>
                            <th>Format</th>
                            <th>Seat type</th>
                            <th>Price</th>
                            <th class="operation-row"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in tariffs)
                        {
                            <tr class="table-info">
                                <td>@item.Name</td>
                                <td>@item.StartTime.ToString().Substring(0,5) - @item.EndTime.ToString().Substring(0,5)</td>
                                @if (item.EndDayOfWeek == 7)
                                {
                                    <td>@item.StartDayOfWeek - Bazar</td>
                                }
                                else
                                {
                                    <td>@item.StartDayOfWeek - @item.EndDayOfWeek günlər</td>
                                }
                                <td>@item.Cinema.Name</td>
                                <td>@item.Format.Name</td>
                                <td>@item.SeatType.Name</td>
                                <td>@item.Price</td>
                                <td class="text-right">
                                    <a class="btn btn-info btn-sm" asp-action="Update" asp-route-id="@item.Id">
                                        Update
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                    <a class="btn btn-danger btn-sm delete-tariff" id="delete-tariff" asp-action="Delete" asp-route-id="@item.Id">
                                        Delete
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
<partial name="_ValidationPartial" />
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    $(document).ready(function () {
        $(".delete-tariff#delete-tariff").click(function (e) {
            e.preventDefault();
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    let link = $(this).attr("href")
                    fetch(link).then(response => response.json()).then(data => {
                        if (data.status == true) {
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            )
                              setTimeout(() =>
                                { location.reload(true) }, 2000);
                        }
                        else {
                            Swal.fire(
                                'Error!',
                                'Your file not Found.',
                                'Failed'
                            )
                        }
                    })
                }
            })
        })
    })
</script>
}
