@using System.Globalization
@model Movie
@{
    ViewData["Title"] = "Detail";
}

<div class="content content-wrapper">
    <div class="container-fluid">
        <div class="event-details-area blog-area pt-150 pb-140">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="event-details row justify-content-between align-items-center">
                            <iframe class="col-12"
                                    @*width="100%"*@
                                    height="600px"
                                    src="@Model.Detail.Trailer"
                                    title="YouTube video player"
                                    frameBorder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowFullScreen></iframe>
                            <img class="d-inline-block col-3 pt-3" src="@Model.Image" alt="event-details">
                            <div class="event-details-content col-9 pl-4 pt-3">
                                <h2 class="pt-2 pb-2">@Model.Name</h2>
                                <p>@Html.Raw(Model.Detail.Description)</p>
                                <ul class="p-2">
                                    <li><span>In cinema:</span> @Model.Detail.StartInCinema.ToString("dd MMM yyyy",CultureInfo.InvariantCulture) - @Model.Detail.EndInCinema.ToString("dd MMM yyyy",CultureInfo.InvariantCulture)</li>
                                    <li><span>Country:</span> @Model.Detail.Country</li>
                                    <li>
                                        Directors:
                                        @foreach (var director in Model.MovieDirectors)
                                        {
                                            <span>@director.Director.Name @director.Director.Surname, </span>
                                        }
                                    </li>
                                    <li>
                                        Actors:
                                        @foreach (var actor in Model.MovieActors)
                                        {
                                            <span>@actor.Actor.Name @actor.Actor.Surname, </span>
                                        }
                                    </li>
                                    <li>
                                        Genres:
                                        @foreach (var genre in Model.MovieGenres)
                                        {
                                            <span>@genre.Genre.Name, </span>
                                        }
                                    </li>
                                    <li><span>Duration:</span> @Model.Detail.Duration minutes</li>
                                    <li><span>Age:</span> @Model.AgeLimit+</li>
                                    <li>
                                        Formats:
                                        @foreach (var format in Model.MovieFormats)
                                        {
                                            <span><img src="@format.Format.Icon" style="width:40px; height:40px;" /></span>
                                        }
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Event Details End -->
